body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
    margin: 0;
    padding: 0;
}

.cv {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
}

.cv-header h1 {
    font-family: Georgia, serif;
    color: blue;
    font-size: 24px;
    font-weight: bold;
    background-color: lightgray;
    letter-spacing: 1.6em;
    word-spacing: 2em;
    text-align: center;
    padding: 10px 0;
}

h2 {
    font-family: Georgia, serif;
    color: darkred;
    font-size: 18px;
    letter-spacing: 1.4em;
    margin-top: 20px;
}

.personal-data h2 {
    margin-top: 100px;
}

.education h2 {
    margin-top: 40px;
}

.experience h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.personal-data p {
    text-indent: 2em;
}

.education ul li,
.experience ul li {
    margin-bottom: 10px;
}

.education ul,
.experience ul {
    list-style-type: none;
    padding-left: 0;
}

.education ul li strong,
.experience ul li strong {
    font-weight: bold;
}